@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700;800;900&display=swap');
:root{
  --primary-color: #141414;
  --secondary-color: #1E2827;
  --Pure-white: #FFFFFF; 
  --Gray-color: #959191;
  --grey-line: rgba(20, 20, 20, 0.50);
  --grey-line2: rgba(46, 47, 66, 0.40);
  --hover-me:#0827f2;
}
body{
    margin: 0;
    padding: 0;
    font-family: Epilogue;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.nav-holder{
    background-color: var(--primary-color);
    display: flex;
    padding: 0 0 0 450px;
    align-items: center;
    justify-content: left;   
}
.logo-holder a{
  background-color: var(--secondary-color);
    color: var(--Pure-white);
    font-family: Epilogue;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.45px;
    cursor: pointer;

}
.listholder{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 80px;
    margin-right: auto;
}
.listholder .list a{
    background-color: var(--secondary-color);
    color: var(--Pure-white);
    text-align: center;
    font-family: Epilogue;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.2),
                 0 4px 8px rgba(0, 0, 0, 0.2),
                 0 4px 8px rgba(0, 0, 0, 0.2);
   
}
.listholder .list a:hover{
    color: var(--hover-me);
}
.contactholder{
   margin-top: 10px;
}
.contactholder a{
    box-shadow: 4px 8px rgba(0, 0, 0, 0.2),
                0 4px 8px rgba(0, 0, 0, 0.2),
                0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-color);
    border-radius: 8px;
    padding: 18px 35px;
    width: 159px;
    height: 48px;
    color: var(--Pure-white);
    font-family: Epilogue;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
    margin-left: 200px;
}
.contactholder a:hover{
    color: var(--hover-me);
}
/* section 1 : hero section */
.hero-section{
    background-color: var(--primary-color)
}
.hero{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-title{
    width: 758px;
    color: var(--Pure-white);
    margin-right: 144px;

    font-family: Epilogue;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: -2.4px;
}
.hero-intro{
    width: 282px;
    color: var(--Pure-white);

    font-family: Epilogue;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: -0.28px;
}
/* Image Slider */
.hero-images-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 64px;
    padding-bottom: 80px;
}
.app-container{
    width: 430px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
                0 4px 8px rgba(0, 0, 0, 0.2),
                0 4px 8px rgba(0, 0, 0, 0.2);
    
    background-color: var(--secondary-color);
}
.image{
    margin-top: 65px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons-slider{
    display: flex;
    justify-content:center;
    align-items: center;
}
.prev,
.next{
    cursor: pointer;
    background-color:  var(--primary-color);
    width: 100px;
    height: 50px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    color: var(--Pure-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
                0 4px 8px rgba(0, 0, 0, 0.2),
                0 4px 8px rgba(0, 0, 0, 0.2);
}
.prev:hover, .next:hover{
    background-color: var(--secondary-color);
    color: var(--Pure-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
                0 4px 8px rgba(0, 0, 0, 0.2),
                0 4px 8px rgba(0, 0, 0, 0.2);
}
.info-slider{
    margin-top: 20px;
    font-size: 16px;
    color: var(--Pure-white);
    font-weight: 700;
}
.scroll-left{
    margin-left: 50px;
    margin-right: 10px;
}
.scroll-right{
    margin-right: 50px;
    margin-left: 10px;
}
/* image slider end */
.big-image{
    cursor: pointer;
    width: 676px;
    height: 394px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
                0 4px 8px rgba(0, 0, 0, 0.2),
                0 4px 8px rgba(0, 0, 0, 0.2);
}
/* End of Hero Section */
/*  About us section */
.about-holder{
    display: flex;
    justify-content: center;
    gap: 220px;
    margin-top: 80px;
    margin-left: 132px;
    margin-right: 132px;
}
.about-title{ 
    color: var(--secondary-color);
    font-family: Epilogue;
    font-size: 40px;
    font-weight: 600;
    line-height: px;
    letter-spacing: -0.8px;
}
.about-msg-holder{
    display: flex;
    gap: 40px;
}
.msg-gif-holder{
    display: flex;
    flex-direction: column;
    justify-content: left;
    row-gap: 40px;
    width: 1020px;
}
.about-message1{
    width: 439px;
    color: var(--black, #141414);
    font-family: Epilogue;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -0.28px;
}
.about-message2{
    width: 380px;
    color: var(--black, #141414);
    font-family: Epilogue;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -0.28px;
}
.gif-image-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.gif-image{
    background: url(https://s3-alpha-sig.figma.com/img/ef39/52ff/ddf3148451bd2db71f02b9d2f8ebb2da?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nXGC1VaX~kKlSX2eVZmFNi0Gc6M7X2ZkNWewlt340-q1Udkj1qnb8nxGcMZaJKv5FzPfFHgOwEzeuJOVI9EP44TMAEVGza4pcNF6r-JwrS0QWxg7oK8gn3cyCqzdBwx1~5NXHfh4ODZ26vrLexDaIH~UEQyr4Y~RVtP3EoKv-6YayqCFFTXJxBRubMHEysDLMxLfwQpcgVU8RVLuHu~kQ5N3ivzb9OSTn9ZGAXz6wYIcUa5lR7zG9Xv9DNZXro0C6eXTypyt7f8FFT~~L6BsAqoyaFaU-Sx6YKwQJrDmb3kbRxDSnWUG~J2FcCHEDEJYVcbcIr6BLyff295cuL56pw__);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 600px;
}
/* Catalog Section */
.cata-title{
    text-align: left;
    color: var(--dark-green, #1E2827);
    font-family: Epilogue;
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.8px;
    margin-left: 200px;
    margin-top: 80px;
}
.catalog-holder{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 80px 100px;
    row-gap: 20px;
    column-gap: 64px;
}
/* overlay slider */
.slider-cover {
    position: absolute;
    background-color: var(--secondary-color);
    width: 276px;
    border-radius: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.watch{
    position: relative;
    bottom: 0;
}
.watch:hover .slider-cover{
    height: 100%;
}
.slider-content {
    position: absolute;
    width: 276px;
    margin-left: 20px;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
}
.overlay-description{
    text-align: left;
    color: var(--white, #FFF);
    font-family: Epilogue;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    text-transform: uppercase;
}
.overlay-details{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-family: Epilogue;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.14px;
}
/* overlay slider end here */
.btn-holder{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 80px;
}
.buy-now-btn{
    background: var(--secondary-color);
    border-radius: 8px;
    padding: 18px 35px;
    color: #FFF;
    text-align: center;
    font-family: Epilogue;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
    margin-right: 200px;
    cursor: pointer;
}
.buy-now-btn:hover{
    border: none;
    background-color: var(--Gray-color);
    color: var(--Pure-white);
    font-weight: 800;
}
/* Modal Buy Now */
.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    padding: 24px;
    background-color: var(--Pure-white);
    width: 904px;
    height: 694px;
    border-radius: 10px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
                0 1px 3px 0 rgba(0, 0, 0, 0.12),
                0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
.is-hidden {
    pointer-events: none;
    opacity: 0;
}
.btn-modal {
    border: 0;
    display: block;
    margin-left: auto;
    background-color: var(--Dairy);
}
form {
    display: flex;
    flex-direction: column;
}
.img-form-holder{
    display: flex;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
}
label {
    margin-top: 24px;
    margin-bottom: 12px;
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}
input[type="text"]{
    width: 508px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid var(--grey-line);
    padding-left: 10px;
    font-size: 16px;
}
input[type="text"]:hover{
    border: 1px solid var(--hover-me);
    outline: 1px solid var(--hover-me);
}
.comment-area {
    outline: none;
    border: 1px solid var(--grey-line);
    font-size: 16px;
    width: 508px;
    border-radius: 5px;
    padding: 10px;
}
.comment-area:hover{
    border: 1px solid var(--hover-me);
    outline: 1px solid var(--hover-me);
}
.submit-order-btn{
    width: 530px;
    background-color: var(--secondary-color);
    color: var(--Pure-white);
    padding: 18px 222px;
    margin-top: 40px;
    border-radius: 8px; 
    cursor: pointer; 
    font-size: 16px;
    
}
.submit-order-btn:hover{
    background-color: var(--hover-me);
    border: none;
}
.Privacy-oder{
    color: var(--grey-line2);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.24px;
}
.privacy-policy{
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.24px;
    text-decoration-line: underline;
    cursor: pointer;
}
/* Modal Buy Now End Here */
/* New Watch  */
/* green and bronze*/
.new-watch{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: left;
    margin-left: 200px;
}
.ligth-text{
    margin-left: 200px;
    color: rgba(20, 20, 20, 0.40);
    font-family: Epilogue;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0.72px;
}
.green-bronze{
    margin-top: -15px;
    margin-left: 200px;
    width: 448px;
    color: var(--secondary-color);
    font-family: Epilogue;
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.8px;
}
.bronze-img2,
.bronze-img1{
    width: 576px;
    height: 422px;
    cursor: pointer;
}
/* Sales */
.sale-title{
    margin-top: 80px;
    margin-left: 200px;
    color: var(--secondary-color);
    font-family: Epilogue;
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.8px;
}
.sale-holder{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 40px;
}
.sale-four-img{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.gang-four{
    width: 146px;
    height: 146px;
    cursor: pointer;
}
.sale-img-holder{
    background-color: var(--primary-color);
    cursor: pointer;
}
.sale-large-img{
    width: 406PX;
    height: 614PX;
}
.green-title{
    color: var(--primary-color);
    font-family: Epilogue;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.76px;
}
.green-message{
    color: rgba(20, 20, 20, 0.50);
    font-family: Epilogue;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}
.green-discounted{
    color: var(--black, #141414);
    font-family: Epilogue;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
}
.green-orig-price{
    color: rgba(20, 20, 20, 0.50);
    font-family: Epilogue;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.24px;
    text-decoration:line-through;
}
.green-descrip{
    color: var(--primary-color);
    font-family: Epilogue;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: uppercase;
}
.green-message2{
    width: 369px;
    height: 126px;
    color: rgba(20, 20, 20, 0.50);
    font-family: Epilogue;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.14px;
}
.green-message3{
    width: 369px;
    height: 143px;
    color: rgba(20, 20, 20, 0.50);
    font-family: Epilogue;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.14px;
}
/* Sale end here */
/* footer */
.footer-holder{
    background-color: var(--secondary-color);
    margin-top: 100px;
    padding: 104px 132px 224px 132px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 360px;
}
.logo-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.logo-holder .ardevazsign{
    font-family: Epilogue;
    font-size: 20px;
    font-weight: 800;
}
.contact{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.contact .email a,
.contact .cp-number a{
    color: #FFF;
    font-family: Epilogue;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
}
.contact .cp-number a:hover,
.contact .email a:hover{
    color: var(--hover-me);
}
.footer-listholder .footer-list a{
    color: #FFF;
    font-family: Epilogue;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.36px;
    text-transform: uppercase;
}
.footer-listholder .footer-list a:hover{
    color: var(--hover-me);
}
.footer-listholder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}
.social-media-holder{
    display: flex;
    column-gap: 20px;
}
.sm-icon {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    padding: 8px;
    cursor: pointer;
}
.sm-icon:hover{
    border: 1px solid var(--hover-me);
    background-color: var(--hover-me);
    cursor: pointer;
}
.policy{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    gap: 800px;
}

h3{
color: #C6CDD1;
    text-align: right;
    font-family: Epilogue;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}
/* end of footer */
/* Mobile Menu Css */

/* JS for Menu Btn */
.mobile-menu-watch{
    display: none;
}
.mobile-menu-btn.is-open{
    transform: translateX(0);
}
.mobile-menu-watch {
    top: 0;
    right: 0;
    position: fixed;
    width: 425px;
    height: 100vh;
    z-index: 999;
    transform: translateX(100%);
    background-color: var(--secondary-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* mobile menu bar @media 425px */


.logo-menu-bar{
   padding: 20px;
    display: flex;
    column-gap: 230px;
}
.logo-mobile-holder a{
    padding-left: 10px;
    background-color: var(--secondary-color);
    color: var(--Pure-white);
    font-family: Epilogue;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.45px;
    cursor: pointer;
}
.mobile-btn-close{
    background-color: var(--secondary-color);
    border: none;
    cursor: pointer;
}
.mobile-btn-close:hover{
    background-color: var(--hover-me);
    border-radius: 100px;
}
.nav-cont-socme{
    margin-top: 200px;
    row-gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
} 
.one-mobile a,
.two-mobile a,
.three-mobile a{
    color: var(--Pure-white);
    font-size: 18px ;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    text-transform: uppercase;
}
.one-mobile a:hover,
.two-mobile a:hover,
.three-mobile a:hover{
    color: var(--hover-me);
}
.mobile-number a,
.email-add a {
    color: var(--Pure-white);
    font-size: 18px;
    font-weight: 400;
}
.mobile-number a:hover,
.email-add a:hover{
    color: var(--hover-me);
}

.listholder-mobile{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.mobile-contacts-menu{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.mobile-sm-icons{
    display: flex;
    gap: 80px;
}
.social-media-menu{
    border: 1px solid var(--Pure-white);
    padding: 8px;
    border-radius: 8px;
}
.social-media-menu:hover{
   border: 1px solid var(--hover-me);
   background-color: var(--hover-me);
   border-radius: 8px;
}

/* @Media Query Start Here */

@media screen and (max-width: 425px) {
    .container {
        width: 100%;
        height: 100vh;
    }
    .mobile-menu-btn{
        display: block;
    }
    .mobile-menu-watch{
        display: block;
    }
}
